@import '../../variables';

.container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    background-color: white;

    padding: 5%;
    overflow: hidden;
    border-radius: 15px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 0.2rem solid $blue-second;
        border-radius: 15px; 
        pointer-events: none;
    }

    .title {
        margin-right: 4rem;
        h1 {
            margin: 0;
            font-size: 2rem;
            color: $blue-second;
        }
    }

    .content {
        
        
        overflow-y: scroll;

        scrollbar-width: auto;

        &::-webkit-scrollbar {
            display: block; 
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;

        .author {
            display: flex;
            flex-direction: row;
            align-items: center;

            h2 {
                color: $blue-second;
                margin-left: 0.5rem;
            }

            img {
                width: 2.5rem;
                border-radius: 50%;
            }
        }

        .date {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    .new-tag {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
        border-radius: 0 0 0 20px;
        color: $color-secondary;
        background-color: $blue-second;
    }
    
    .edit {
        position: absolute;
        top: 5%;
        right: 5%;

        display: none;
        gap: 1rem;

        &:hover {
            cursor: pointer;
        }

        i {
            font-size: 1.5rem;
        }

        .delete-container {
            color: $blue-third;
        }
    }

    &:hover {
        .edit {
            display: flex;
        }

        .new-tag {
            display: none;
        }
    }
}