@import '../../../variables';

.container {
    padding: 2rem;
    form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .error {
        color: $blue-third;
    }
}