@import "../../variables";

.holder {
  width: 100%;

  .formText {
    align-content: center;
    text-align: center;
    margin-bottom: 1.2rem;
    color: $blue-second;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 2rem auto;
    margin-bottom: 4rem;
  }

  .formGroup {
    margin-bottom: 1.2rem;
    display: flex;

    input {
      flex: 1 1;
      margin-right: 1rem;
      padding: 10px;
      border: 0.12rem solid rgba($color-primary, 0.3);
      border-radius: 0.25rem;
      transition: background-color 0.9s ease, transform 0.9s ease;
      width: 100%;
      color: $blue-third;

      &:focus,
      &:hover {
        transform: scale(1.02);
      }

      &::placeholder {
        color: rgba($blue-third, 0.5);
        font-family: "Mona Sans";
        font-weight: 300;
      }
    }

    input:last-child {
      margin-right: 0;
    }
  }

  .submitButton {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: $blue-third;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.9s ease, transform 0.9s ease;

    &:hover {
      background-color: $blue-third-hover;
      transform: scale(1.01);
    }
  }
}
