@import '../../../variables';

.container {
    padding: 2rem;
    form {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .name-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            input {
                width: 48%;
            }

            @media (max-width:480px) {
                flex-direction: column;
                gap: 1rem;

                input {
                    width: 100%;
                }
            }
        }

        .restaurant-owner-container {
            font-size: 1.2rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;

            @media (max-width:480px) {
                font-size: 1rem;
            }
        }

        @media (max-width:480px) {
            gap: 1rem;
        }
    }

    .error {
      color: $blue-third;
  }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $blue-fifth;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: $color-secondary;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: $blue-second;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }