@import '../../variables';

button {
    font-family: 'Mona Sans';
    border-radius: 5px;
}

.primary {
    color: $background-color-primary;
    background-color: $blue-second;
    border: none;
    
    &:hover {
        cursor: pointer;
        background-color: $blue-second-hover;
    }

    &:active {
        background-color: $blue-second-active;
    }

    &:disabled {
        cursor: default;
        background-color: $blue-second-disabled;
    }
}

.secondary {
    color: $color-secondary;
    background-color: transparent;
    border: 1px solid $color-secondary;
    
    &:hover {
        cursor: pointer;
        background-color: $blue-second-hover;
    }

    &:active {
        background-color: $blue-second-active;
    }

    &:disabled {
        cursor: default;
        background-color: $blue-second-disabled;
    }
}

.tertiary {
    color: $blue-second;
    background-color: transparent;
    border: 2px solid $blue-second;
    
    &:hover {
        cursor: pointer;
        color: $blue-second-hover;
        border: 2px solid $blue-second-hover;
    }

    &:active {
        color: $blue-second-active;
        border: 2px solid $blue-second-active;
    }

    &:disabled {
        cursor: default;
        color: $blue-second-disabled;
        border: 2px solid $blue-second-disabled;
    }
}